<!--CLUB PAGE -->
<div class="profile-edit tab-pane" ng-controller="ForumPageCtrl">

    <div class="row">
        <div class="col-md-6">

            <button class="btn btn-default tooltips margin-left-5 data-menu" type="button">
                <site-header back="back"></site-header>
            </button>

            <button class="btn btn-default tooltips margin-left-5 data-menu" type="button" data-toggle="tooltip" data-placement="bottom" title data-original-title="Click to Refresh" ng-click="refreshPage()">
                <span class="glyphicon glyphicon-repeat"></span>
            </button>

        </div>
        <div class="col-md-6">
        </div>
    </div>
    
    <br>

    <!-- Load More Bar -->
    <div ng-if="pageLoading" class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">100% Complete</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End - Load More Bar -->

    <div ng-if="!pageLoading && (!clubpost || !clubpost.clubpostid)">

         <div class="col-md-12">
            <div class="shadow-wrapper margin-bottom-60">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">


                    <h2 class="text-center">
                        <img id="logo-header" src="images/error_64.png" alt="Error">
                        <strong>Post - Not Found</strong>
                    </h2>
                    <hr>
                    <h5>
                        This might have been caused either - 
                    </h5> <br>
                    <h5>
                        <i class="glyphicon glyphicon-asterisk"></i> The POST has been deleted
                    </h5> <br>
                    <h5>
                        <i class="glyphicon glyphicon-asterisk"></i> You do not have sufficient permission.
                    </h5> <br>
                    <h5>
                        <i class="glyphicon glyphicon-asterisk"></i> Server problem
                    </h5> <br>

                </div>
            </div>
        </div>

    </div>

    <!-- Profile Content -->
    <div ng-if="!pageLoading && (clubpost && clubpost.clubpostid)">

        <div>

            <!-- Progress Bar -->
            <div ng-if="pageLoading" class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End- Progress Bar -->
                                                    
            <h1 ng-if="!pageLoading" class="modal-title text-center color-blue">{{clubpost.title}}</h1>
            <h5 ng-if="!pageLoading && forum.forumtype == 0" class="modal-title text-center color-red">Private Forum</h5>
            <h5 ng-if="!pageLoading && forum.forumtype == 1" class="modal-title text-center color-green">Public Forum</h5>
            <p ng-if="!pageLoading"class="color-red pull-right">Posted: {{clubpost.createdat}}</p>
            <br/><br/>

            <ul ng-if="!pageLoading" class="timeline-v2 padding-20">
                <li>
                    <img class="rounded-x" width=50px src="{{forum.byimagedp || 'images/default_profile_photo.png'}}" alt="">
                    <time class="cbp_tmtime pull-left" datetime="">
                        <span class="color-green hover-link" ng-click="navigateToSociety(forum.socid)"><i class="color-green fa fa-map-marker"></i> {{forum.bysocietyname || 'No Society'}}</span>
                        <span class="color-green">{{forum.bycity || 'No City'}}</span>
                        <span class="color-blue hover-link" ng-click="navigateToUser(forum.uid)">{{forum.byname || 'No Name'}}</span>
                    </time>
                            
                    <div class="cbp_tmlabel">
                        <div class="shadow-wrapper margin-bottom-5">
                            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                                <pre>{{forum.details}}</pre>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-8">
                                <ul class="emoticon-icons text-center" stop-event>

                                    <li class="pull-left"><a href="javascript:void(0)" data-original-title="Laugh" ng-class="{'rounded emoticon_laugh_32': true, 'red-border': userinfo.emo == 1}" ng-click="postEmoticon(forum.fid, 1)"></a>
                                        <small class="text-center">{{forum.emo.laugh || 0}}</small>
                                    </li>

                                    <li class="pull-left"><a href="javascript:void(0)" data-original-title="Tongue" ng-class="{'rounded emoticon_tongue_32': true, 'red-border': userinfo.emo == 2}" ng-click="postEmoticon(forum.fid, 2)"></a>
                                        <small class="text-center">{{forum.emo.tongue || 0}}</small>
                                    </li>

                                    <li class="pull-left"><a href="javascript:void(0)" data-original-title="Love" ng-class="{'rounded emoticon_love_32': true, 'red-border': userinfo.emo == 3}" ng-click="postEmoticon(forum.fid, 3)"></a>
                                        <small class="text-center">{{forum.emo.love || 0}}</small>
                                    </li>

                                    <li class="pull-left"><a href="javascript:void(0)" data-original-title="Confused" ng-class="{'rounded emoticon_confused_32': true, 'red-border': userinfo.emo == 4}" ng-click="postEmoticon(forum.fid, 4)"></a>
                                        <small class="text-center">{{forum.emo.confused || 0}}</small>
                                    </li>

                                    <li class="pull-left"><a href="javascript:void(0)" data-original-title="Angry" ng-class="{'rounded emoticon_angry_32': true, 'red-border': userinfo.emo == 5}" ng-click="postEmoticon(foruforummShow.fid, 5)"></a>
                                        <small class="text-center">{{forum.emo.angry || 0}}</small>
                                    </li>

                                    <li class="pull-left"><a href="javascript:void(0)" data-original-title="Evil" ng-class="{'rounded emoticon_evil_32': true, 'red-border': userinfo.emo == 6}" ng-click="postEmoticon(forum.fid, 6)"></a>
                                        <small class="text-center">{{forum.emo.evil || 0}}</small>
                                    </li>

                                </ul>
                            </div>

                            <div class="col-sm-4">
                                <ul class="list-inline comment-list pull-right">
                                    <li><i class="glyphicon glyphicon-eye-open"></i> {{forum.totalviews || 0}} views</li>
                                    <li><i class="fa fa-comment"></i> {{forum.totalcomments || 0}} comments</li>
                                </ul>
                            </div>

                        </div>
                            
                    </div>

                </li>
            </ul>

        </div>

        <div ng-if="!pageLoading" class="modal-body">

            <div class="row text-center">
                <button ng-if="!isLoadCompletedComments && !isLoadingMoreComments" class="btn btn-small btn-primary" ng-click="loadComments(forum.fid)" ng-disabled="isLoadingMoreComments"> Load previous comments</button>
                <img ng-if="isLoadingMoreComments" src="images/page_load.gif">
            </div>

            <div ng-repeat="item in comments">

                <div class="row">
                    <div class="col-sm-12">
                        <div ng-class="{'alert-blocks': true,  'alert-blocks-error': item.opinion == 2, 'alert-blocks-info': item.opinion == 1}">
                            <img class="rounded-x" src="{{ item.byimagedp || 'images/default_profile_photo.png' }}" alt="">
                            <div class="overflow-h">
                                <strong class="color-dark">
                                    <span class="color-blue hover-link" ng-click="navigateToUser(item.uid)">{{item.byname || 'No Name'}}</span>
                                </strong>
                                <small>
                                    <span class="color-green hover-link" ng-click="navigateToSociety(item.socid)">{{item.bysocietyname || 'No Society'}}, {{item.bycity || 'No City'}}</span>
                                </small>
                                <div ng-bind-html="item.value | embed">{{item.value}}</div>
                                <small class="pull-right"><em>
                                    <span class="color-red">{{item.date}}</span>
                                </em></small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <form action="" class="sky-form">

                <fieldset>

                    <div class="text-center color-red" ng-if="newComment.msg && newComment.ecode != 0">
                        <img id="logo-header" src="images/error_32.png" alt="Error"> {{newComment.msg}}
                    </div>

                    <div class="text-center" ng-if="newComment.isCommenting">
                        <img src="images/page_load.gif">
                    </div>

                    <section>
                        <label ng-class="{'textarea': true, 'state-error': errorCode == 1}">
                            <textarea rows="3" ng-model="newComment.val" placeholder="Enter your comment" required></textarea>
                        </label>
                    </section>

                    <div class="row">
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary btn-block" ng-click="postComment(forum.fid, 1)">Post For</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-default btn-block" ng-click="postComment(forum.fid, 0)">Post Neutral</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-danger btn-block" ng-click="postComment(forum.fid, 2)">Post Against</button>
                        </div>
                    </div>

                </fieldset>
                        
            </form>

        </div>
    </div>
    <!--Forum Show - End-->

</div>
<!--End Club Page -->