<!--SOCIETY INFO - PROFILE-->
<div class="profile-edit tab-pane" ng-controller="InfoCtrl">

    <h3 class="heading-md text-center">
        Society Information <br>
        <span ng-if="message" class="label label-red text-center">{{message}}</span>
    </h3>

    <br/>

    <!-- Progress Bar -->
    <div ng-if="pageLoading" class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">100% Complete</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End - Progress Bar -->

    <div>
        
    </div>


    <dl ng-if="!pageLoading" class="dl-horizontal">
        <dt><strong>Name </strong></dt>
        <dd>
            {{ societyname }}
        </dd>
        <hr>

        <dt><strong>Code </strong></dt>
        <dd>
            {{ societycode }}
        </dd>
        <hr>

        <dt><strong>Address </strong></dt>
        <dd>
            {{ locality }} <br>
            {{ city }} <br>
        </dd>
        <hr>

        <dt><strong>Postal Code </strong></dt>
        <dd>
            {{ pincode }}
        </dd>
        <hr>

        <dt><strong>Total Flats </strong></dt>
        <dd>
            {{ flats || 'Not Mentioned' }}
        </dd>
        <hr>
        <br>
        <div class="panel-body no-padding" data-mcs-theme="minimal-dark">

            <h4 class="text-center">Society - Rules &amp Regulations</h4>
            <div class="row profile-event">
                <div class="col-sm-12">
                    <pre class="text-left">
                        {{'\n' + societyrules }}
                    </p>
                </div>
            </div>

            <hr>

        </div>

    </dl>
                                
</div>
<!--End Society Info-->