<!--=== Details Part ===-->
<div class="container content" ng-controller="DetailsCtrl">
    <div class="row">
        
        <!--
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <button class="btn btn-warning rounded-2x pull-right" type="submit" ng-click="guestLogin()">
                Login as GUEST
            </button>
        </div>
        -->
    </div>

    <br/>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

            <form class="reg-page sky-form" name="detailsform">
                    
                <div class="reg-header">
                    <h2 class="color-blue">
                        Residence<br/>
                    </h2>
                </div>

                <div class="text-center">
                    <img ng-if="isLoading" src="images/page_load.gif">
                </div>

                <div ng-if="message && !isLoading" class="text-center">
                    <p class="color-red">
                        <img src="images/error_32.png" alt="Error"> {{message}}
                    </p>
                </div>

                <fieldset>

                    <section>

                        <label>City</label>
                        <img ng-if="isCitiesLoading" class="pull-right" src="images/page_load.gif">
                        <label class="select">
                            <select ng-model="city" ng-change="updateSocieties(city)" class="selectpicker" data-live-search="true" selectpicker>
                                <option ng-repeat="city in selectCities" value="{{city}}">
                                    {{city}}
                                </option>
                            </select>
                        </label>

                    </section>

                    <!--
                    <section>
                        <label>Society</label>
                        <img ng-if="isSocietiesLoading" class="pull-right" src="images/page_load.gif">
                        <label class="input">
                            <input type="text" list="soclist" ng-model="society" ng-change="updateFlatSample()">
                            <datalist id="soclist">
                                <option value="" disabled>select</option>
                                <option ng-repeat="(key, value) in selectSocieties" value="{{value.societyname}}">
                                    {{value.locality}} [{{value.societycode}}]
                                </option>
                                <option ng-repeat-end value="Others" class="select-societies-others">Other</option>
                            </datalist>
                        </label>

                    </section>
                    -->

                    <!--
                    <section>
                        <label>Society 2</label>
                        <img ng-if="isSocietiesLoading" class="pull-right" src="images/page_load.gif">
                        <label class="select">

                            <select id="#society-select" ng-model="society" ng-change="updateFlatSample()" class="selectpicker" data-live-search="true" title="Select">
                                <option id="#society-options" ng-repeat="(key, value) in selectSocieties" value="{{value.societyname}}" class="">
                                    <div ng-bind-html="value.societyname"></div>
                                    <small ng-bind-html="value.locality"></small>
                                    {{value.societyname}}, {{value.locality}} <strong>[{{value.societycode}}]</strong>
                                </option>
                                <option ng-repeat-end value="Others" class="select-societies-others">Other</option>
                            </select>
                        </label>

                    </section>
                    -->



                    <section>
                        <label>Society</label>
                        <img ng-if="isSocietiesLoading" class="pull-right" src="images/page_load.gif">
                        <label class="select">

                            <select ng-model="society" ng-change="updateFlatSample()" class="selectpicker" data-live-search="true" selectpicker>
                                <option id="#society-options" ng-repeat="(key, value) in selectSocieties" value="{{value.socid}}" class="">
                                    {{value.societyname}}, {{value.locality}} [{{value.societycode}}]
                                </option>
                                <option ng-repeat-end value="Others" class="">Other</option>
                            </select>
                        </label>

                    </section>

                    <section ng-if="society === 'Others'">
                        <label ng-class="{'input': true, 'state-error': errorCode == 3}">
                            Name
                            <input type="text" class="form-control margin-bottom-20" placeholder="Enter your society name" ng-model="obj.otherSociety">
                        </label>
                        
                    </section>

                    <section ng-if="society && society !== 'Others'">
                        <label ng-class="{'input': true, 'state-error': errorCode == 2}">
                            Flat
                            <input type="text" class="form-control margin-bottom-20" placeholder="Eg. {{flatSample || 'B31304'}}" ng-model="obj.flat" ng-change="clearMessage()">
                        </label>
                    </section>

                    <section ng-if="society && society !== 'Others'">

                        <div class="inline-group">
                            <label class="radio">
                                <input type="radio" ng-model="obj.residenceType" value="1">
                                    <i ng-click="obj.residenceType=1" class="rounded-x"></i> Tenant 
                            </label>
                            <label class="radio">
                                <input type="radio" ng-model="obj.residenceType" value="0">
                                <i ng-click="obj.residenceType=0" class="rounded-x"></i> Owner
                            </label>
                        </div>

                    </section>

                </fieldset>
                   
                <hr>

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <button class="btn btn-block btn-primary pull-right" type="submit" ng-click="submitDetails()">
                            ENTER
                        </button>
                    </div>
                </div>

                <br/>

            </form>

        </div>

    </div>
    <!--/row-->     
</div>
<!--=== End Details Part ===-->