<!--=== Login Part ===-->
<div class="container content" ng-controller="LoginCtrl">     
    <div class="row">

        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

            <div class="shadow-wrapper margin-bottom-60">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">

                    <div>

                        <h2 class="text-center"><strong>THANK YOU!</strong></h2>
                        <hr>

                        <h5>We will be adding your society soon.</h5>
                        <h5>Visit <a href="http://www.telkon.in">www.telkon.in</a> again to continue your signup.</h5>
                        <br><br>
                        <h3 class="color-blue">Team Telkon</h3>
                    </div>

      

                </div>
            </div>

        </div>
    </div><!--/row-->
</div><!--/container--> 
<!--=== End Login Part ===-->