<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="adminApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="adminApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="adminApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" ng-app="adminApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Telkon | Admin</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/blocks.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="plugins/line-icons/line-icons.css">
  <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="plugins/flexslider/flexslider.css">
  <link rel="stylesheet" href="plugins/parallax-slider/css/parallax-slider.css">
  <link rel="stylesheet" href="plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css">
  <link rel="stylesheet" href="plugins/bootstrap3-editable/css/bootstrap-editable.css">
  <link rel="stylesheet" href="plugins/angular-xeditable-0.1.8/css/xeditable.css">
  <link rel="stylesheet" href="plugins/ngImgCrop/css/ng-img-crop.css"></link>
  <link rel="stylesheet" href="assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
  <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
  <link rel="stylesheet" href="plugins/bootstrap-select/css/bootstrap-select.min.css">

  <!-- CSS Page Style -->
  <link rel="stylesheet" href="css/pages/profile.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/pages/timeline.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="css/custom.css">

  
</head>
<body ng-class="{'loading': bodyPageLoaderShow}" ng-controller="PageLoadCtrl">

<div class="wrapper" ng-cloak>

    <!--=== HEADER ===-->
    <div class="header">

        <!-- TOPBAR -->
        <div class="topbar">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                        <img id="logo-header" src="images/logo.jpg" alt="Logo">
                    </a>

                </div>

                <div class="collapse navbar-collapse navbar-responsive-collapse" ng-controller="HeaderCtrl">
                    <ul class="nav navbar-nav pull-right">
                        <li class="active dropdown">

                            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                               <img class="rounded-x" width=50px src="{{ imagedp || 'images/default_profile_photo.png' }}" alt="">
                                <strong>{{name || 'Admin'}}</strong> <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">

                                <li><a data-toggle="tab" href="#/profile"><span class="glyphicon glyphicon-user"> Profile</span></a></li>

                                <li><a data-toggle="tab" href="#/info"><span class="glyphicon glyphicon-info-sign"> Society Info</span></a></li>
                                
                                <li><a data-toggle="tab" href="#/settings"><span class="glyphicon glyphicon-cog"> Settings</span></a></li>

                                <li ng-if="mode == 1"><a data-toggle="tab" href="#/switch"><span class="glyphicon glyphicon-retweet"> Member Mode</span></a></li>

                                <li ng-if="mode == 0"><a data-toggle="tab" href="#/becomemember"><span class="glyphicon glyphicon-tag"> Become Member</span></a></li>

                                <li><a data-toggle="tab" href="#/reset"><span class="glyphicon glyphicon-refresh"> Reset Password</span></a></li>

                                <li><a data-toggle="tab" href="#/account"><span class="glyphicon glyphicon-lock"> Account</span></a></li>

                                <li ng-click="logout()"><a href="javascript:void(0)"><span class="glyphicon glyphicon-off"> Logout</span></a></li>

                            </ul>

                        </li>
                    </ul>
                </div>

                <!-- ALERT BOX - Start-->
                <div class="row main-alert-div text-center" ng-controller ="AlertCtrl">
                    <div class="col-md-2 col-md-offset-5">

                        <div ng-if="showAlertBox && (message.type === 'success')" class="alert fade in alert-dismissable alert-box-fixed alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <img id="logo-header" src="images/suc_32.png" alt="Success"> &nbsp <strong>{{message.value}}</strong>
                        </div>

                        <div ng-if="showAlertBox && (message.type === 'danger')" class="alert fade in alert-dismissable alert-box-fixed alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <img id="logo-header" src="images/error_32.png" alt="Error"> &nbsp <strong>{{message.value}}</strong>
                        </div>

                    </div>
                </div>
                <!-- End ALERT BOX -->


            </div>
        </div>
        <!-- End Topbar -->

    </div>
    <!--=== End Header ===-->

    <!--=== CONTENT ===-->
    <div class="profile">
        <div class="container content">

            <div class="row">

                <!--SIDENAV-->
                <div class="col-md-3 md-margin-bottom-40">

                    <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1" ng-controller="SidenavCtrl">

                      <li ng-repeat="option in viewOptions" ng-click="changeShowOption(option)" ng-class="{'list-group-item': true, 'active' : option === selectedOption}">
                        <a href="#/{{getRoute(option)}}">

                          <span ng-if="option === viewOptions[0]" class=""><i class="glyphicon glyphicon-file"></i></span>
                          <span ng-if="option === viewOptions[1]" class=""><i class="glyphicon glyphicon-hand-up"></i></span>
                          <span ng-if="option === viewOptions[2]" class=""><i class="glyphicon glyphicon-earphone"></i></span>
                          <span ng-if="option === viewOptions[3]" class=""><i class="glyphicon glyphicon-user"></i></span>
                          <span ng-if="option === viewOptions[4]" class=""><i class="glyphicon glyphicon-eye-open"></i></span>
                          <span ng-if="option === viewOptions[5]" class=""><i class="glyphicon glyphicon-ok"></i></span>
                          <span ng-if="option === viewOptions[6]" class=""><i class="fa fa-university"></i></span>
                           {{option}}
                           
                        </a>
                      </li>

                    </ul>

                    <hr>

                    <!--Notification-->
                    <div class="" ng-controller="NotificationCtrl">
                      <div class="panel-heading-v2 overflow-h">
                        <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> Notification</h2>
                        <div class="text-right">
                          <span ng-if="total != 0" class="label label-danger">
                            <small>{{total}} NEW</small>
                          </span>
                        </div>
                      </div>
                      <ul id="notificationBar" class="list-unstyled mCustomScrollbar margin-bottom-20" data-mcs-theme="minimal-dark">

                          <li ng-repeat="item in notifications" ng-class="{'notification': true, 'new-data': item.new}" ng-click="showNotificationDetails(item.url); clearTotal()">
                              <i ng-if="item.infotype == 1" class="icon-custom icon-sm rounded-x icon-bg-red icon-line icon-note"></i>
                              <i ng-if="item.infotype == 2" class="icon-custom icon-sm rounded-x icon-bg-green icon-line icon-bulb"></i>
                              <i ng-if="item.infotype == 3" class="icon-custom icon-sm rounded-x icon-bg-yellow icon-line icon-credit-card"></i>
                              <i ng-if="item.infotype == 4" class="icon-custom icon-sm rounded-x icon-bg-orange icon-line icon-call-end"></i>
                              <i ng-if="item.infotype == 5" class="icon-custom icon-sm rounded-x icon-bg-blue icon-line icon-users"></i>
                              <i ng-if="item.infotype == 6" class="icon-custom icon-sm rounded-x icon-bg-purple icon-line icon-user-following"></i>
                              <div class="overflow-h">
                                  <small class="pull-right">{{item.date}}</small>
                                  <span><strong>{{item.title}}</strong></span>
                                  <small>{{item.message}}</small>
                              </div>
                          </li>

                      </ul>

                      <button ng-if="!isLoadCompleted" type="button" class="btn-u btn-u-default btn-u-sm btn-block" ng-click="loadMore()">Load More</button>

                    </div>
                    <!--End Notification-->

                    <div class="margin-bottom-50"></div>

                </div>
                <!--End Sidenav-->

                <div class="col-md-9">

                  <!--CONTENT BODY-->
                    <div class="profile-body margin-bottom-20">
                        <div class="tab-v1">

                            <div class="tab-content">

                              <br/>

                              <div ng-view></div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!--/end row-->

        </div>
        <!--/container-->

    </div>
    <!--=== End Content ===-->

</div>
<!--/wrapper-->

<div class="modal-page-load"></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

   <!-- JS Global Compulsory -->
  <script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="plugins/jquery/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>

   <!-- JS Libraries -->
  <script type="text/javascript" src="js/lib/angular.min.js"></script>
  <script type="text/javascript" src="js/lib/angular-resource.min.js"></script>
  <script type="text/javascript" src="js/lib/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="js/lib/angular-route.min.js"></script>
  <script type="text/javascript" src="js/lib/moment.min.js"></script>
  <script type="text/javascript" src="js/lib/socket.io.js"></script>
  <script type="text/javascript" src="js/lib/ng-upload.js"></script>
  <script type="text/javascript" src="js/lib/ng-infinite-scroll.js"></script>
  <script type="text/javascript" src="js/plugins/bootbox.min.js"></script>
  <script type="text/javascript" src="js/lib/angular-bootstrap-select.js"></script>
  <script type="text/javascript" src="js/lib/aws-sdk.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script type="text/javascript" src="plugins/back-to-top.js"></script>
  <script type="text/javascript" src="plugins/flexslider/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="plugins/parallax-slider/js/modernizr.js"></script>
  <script type="text/javascript" src="plugins/parallax-slider/js/jquery.cslider.js"></script>
  <script type="text/javascript" src="plugins/bootstrap3-editable/js/bootstrap-editable.js"></script>
  <script type="text/javascript" src="plugins/angular-file-upload/angular-file-upload.js"></script>
  <script type="text/javascript" src="plugins/angular-file-upload/angular-file-upload-shim.js"></script>
  <script type="text/javascript" src="plugins/angular-xeditable-0.1.8/js/xeditable.min.js"></script>
  <script type="text/javascript" src="plugins/ngImgCrop/js/ng-img-crop.js"></script>
  <script type="text/javascript" src="plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="plugins/bootstrap-select/js/bootstrap-select.min.js"></script>

  <!-- Configuration File -->
  <script type="text/javascript" src="js/config.js"></script>
  <script type="text/javascript" src="js/helper.js"></script>

  <!-- Admin App File -->
  <script type="text/javascript" src="adminapp.js"></script>


  <!-- Services -->
  <script type="text/javascript" src="js/services/adminservices.js"></script>

  <!-- Directives -->

  <!-- Controllers -->
  <script type="text/javascript" src="js/controllers/admin.js"></script>
  <script type="text/javascript" src="js/controllers/adminutils.js"></script>
  <script type="text/javascript" src="js/controllers/adminnotices.js"></script>
  <script type="text/javascript" src="js/controllers/admincomplaints.js"></script>
  <script type="text/javascript" src="js/controllers/admincontacts.js"></script>
  <script type="text/javascript" src="js/controllers/adminprofile.js"></script>
  <script type="text/javascript" src="js/controllers/adminmembers.js"></script>
  <script type="text/javascript" src="js/controllers/adminpolls.js"></script>
  <script type="text/javascript" src="js/controllers/adminadmins.js"></script>
  <script type="text/javascript" src="js/controllers/adminnotifications.js"></script>

  <!-- JS Customization -->

  <!-- JS Page Level -->
  <script type="text/javascript" src="js/myapp.js"></script>
  <script type="text/javascript" src="js/plugins/parallax-slider.js"></script>
  <script type="text/javascript" src="js/plugins/style-switcher.js"></script>
  <script type="text/javascript">
  
    FileAPI = {
    debug: true,
    //forceLoad: true, html5: false //to debug flash in HTML5 browsers
    //wrapInsideDiv: true, //experimental for fixing css issues
    //only one of jsPath or jsUrl.
      //jsPath: '/js/FileAPI.min.js/folder/', 
      //jsUrl: 'yourcdn.com/js/FileAPI.min.js',

      //only one of staticPath or flashUrl.
      //staticPath: '/flash/FileAPI.flash.swf/folder/'
      //flashUrl: 'yourcdn.com/js/FileAPI.flash.swf'
  };
      jQuery(document).ready(function () {
          App.init();
          StyleSwitcher.initStyleSwitcher();
          ParallaxSlider.initParallaxSlider();
      });
  </script>
  <!--[if lt IE 9]>
  <script src="plugins/respond.js"></script>
  <script src="plugins/html5shiv.js"></script>
  <script src="js/plugins/placeholder-IE-fixes.js"></script>
  <![endif]-->

</body>
</html>
