<!--=== HEADER ===-->
    <div class="header">

        <!-- TOPBAR -->
        <div class="topbar">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="">
                        <img id="logo-header" src="images/logo_94x32.png" alt="Logo">
                    </a>
                </div>

                <div class="loginbar pull-right">
                    <a href="#/login">Create Society</a>
                    <a href="#/login">Log In</a>
                    <button type="submit" class="btn btn-primary margin-left-5" onclick="location.href = '#/register'">
                        Create Account
                    </button>
                </div>

            </div>
        </div>
        <!-- End Topbar -->

    </div>
    <!--=== End Header ===-->