<!-- MENU BAR -->
    <div class="header margin-bottom-20">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav pull-left">
                        <!-- HOME -->
                        <li class="active">
                            <a href="#/index">
                                Home
                            </a>
                        </li>
                        <!-- End Home -->

                        <!-- ABOUT -->
                        <li class="">
                            <a href="#/about" class="dropdown-toggle" data-toggle="dropdown">
                                About
                            </a>
                        </li>
                        <!-- End About -->

                        <!-- Features -->
                        <li class="">
                            <a href="#/features" class="dropdown-toggle" data-toggle="dropdown">
                                Features
                            </a>
                        </li>
                        <!-- End Features -->


                        <!-- FAQS -->
                        <li class="">
                            <a href="#/faqs" class="dropdown-toggle" data-toggle="dropdown">
                                FAQs
                            </a>
                        </li>
                        <!-- End Faqs -->

                        <!-- CONTACT -->
                        <li class="">
                            <a href="#/contact" class="dropdown-toggle" data-toggle="dropdown">
                                Contact
                            </a>
                        </li>
                        <!-- End Contact -->

                    </ul>

                </div>
                <!--/navbar-collapse-->
            </div>
        </div>
    </div>
    <!-- End Menu Bar -->